DB_DRIVER=postgres

POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=
POSTGRES_PORT=54321

# asset storage
GCS_BUCKET_NAME=
GOOGLE_APPLICATION_CREDENTIALS=/path/to/gcs_credentials.json

# set to development for lexicon and parameter to be populated and enable the enums to work
MODE=development

# disable authentication (for development only)
AUTHENTIK_DISABLE_AUTHENTICATION=1

# erase and rebuild the database for step tests
REBUILD_DB=1

# authentik
AUTHENTIK_URL=
AUTHENTIK_CLIENT_ID=
AUTHENTIK_AUTHORIZE_URL=
AUTHENTIK_TOKEN_URL=
