anyio
archspec
boltons
Brotli
brotlipy
certifi
cffi
chardet
charset-normalizer
colorama
conda
conda-libmamba-solver
conda-package-handling
conda_package_streaming
crcmod==1.7
cryptography
distro
exceptiongroup
frozendict
h11
h2
hpack==4.0.0
httpcore
httpx
hyperframe
idna
jsonpatch
jsonpointer
libmambapy
menuinst
packaging
platformdirs
pluggy
psycopg-binary==3.2.9
pycosat
pycparser
pyOpenSSL
PySocks
requests
ruamel-yaml-conda
ruamel.yaml
ruamel.yaml.clib
setuptools==70.1.1
six
sniffio
tqdm
truststore
typing_extensions
urllib3
wheel==0.43.0
zstandard==0.23.0
